# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set VERSION variable
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build
      run: dotnet build --configuration Release
    - name: Pack
      run: dotnet pack --configuration -p:Version=${VERSION} -c Release
    - name: Upload package to artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nugetPackage
        path: bin/Release

  push:

    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - name: Download package artifact
      uses: actions/download-artifact@v4
      with:
        name: nugetPackage
    - name: Prep push
      run: dotnet nuget add source --username DevonOsh --password ${{ secrets.ACCESS_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/DevonOsh/index.json"
    - name: Push
      run: dotnet nuget push nugetPackage/*.nupkg --source "github" --api-key ${GITHUB_TOKEN}
      env:
        GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
